<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>投稿詳細</title>
</head>

<body>
	<h2>投稿詳細</h2>

	<form method="post" th:action="@{/show/{id}(id=${formModel.id})}"
		th:object="${formModel}">
		<table>
			<tr>
				<th>投稿</th>
			</tr>
			<tr>
				<td th:text="${formModel.content}" size="20" maxlength="200" />
			</tr>
		</table>

		<table border="1">
			<thead>
				<tr>
					<th colspan="3">コメント一覧</th>
					<th><a th:href="@{/comments/new/{id}(id=${formModel.id})}">
							<button type="button">返信</button>
					</a></th>
				</tr>
			</thead>

			<tbody th:each="comment: ${comments}">
				<tr th:if="${comment.reportId == formModel.id}">
					<td th:text="${comment.id}" />
					<td th:text="${comment.content}" />
					<td><a th:href="@{/comments/edit/{id}(id=${comment.id})}">
							<button type="button">編集</button>
					</a></td>
					<td>
						<form th:method="delete"
							th:action="@{/comments/delete/{id}(id=${comment.id})}">
							<button type="submit">削除</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</form>

	<form action="/">
		<input type="submit" value="戻る" />
	</form>
</body>
</html>