<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TOP</title>
</head>

<body>
	<h2>TOP画面</h2>

	<a href="/new"><button type="button">新規投稿</button> </a>

	<!-- message絞込機能 -->
	<div class="date-area">
		<form action="date">
			日付：<input type="date" name="startDate" /> ～ <input type="date" name="endDate" />
			<button type="submit">絞込</button>
		</form>
	</div>

	<table border="1">
		<tr>
			<th>ID</th>
			<th>内容</th>
			<th colspan=4 />
		</tr>

		<tr th:each="report : ${reports}">
			<td th:text="${report.id}">
			<td th:text="${report.content}" />

			<td><a th:href="@{/show/{id}(id=${report.id})}"> <input
					type="submit" value="コメントを見る" />
			</a></td>
			<td><a th:href="@{/edit/{id}(id=${report.id})}"> <input
					type="submit" value="編集" />
			</a></td>
			<td>
				<form th:action="@{/delete/{id}(id=${report.id})}"
					th:method="delete">
					<input type="submit" value="削除" />
				</form>
			</td>
		</tr>
	</table>
</body>
</html>